<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/0e257083-102e-48d2-807d-0421f0b04ab6/resourceGroups/bookAppResourceGroup/providers/Microsoft.ContainerRegistry/registries/bookapp2020</ResourceId>
    <ResourceName>bookapp2020</ResourceName>
    <ResourceGroup>bookAppResourceGroup</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://bookapp2020.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2c2181b3-a12d-4d27-826c-4dc9f63b7415</ProjectGuid>
  </PropertyGroup>
</Project>