@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book App .NET</h1>
    <p>
        This sample app showcases migration of code from .NET Framework to .NET 5.
    </p>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>About the book</h2>
        <p>This sample application is part of the Packt book "Introducing .NET 5" </p>
        <p><a class="btn btn-default" href="https://www.packtpub.com/au/all-products/all-books/">Check out the Packt Publishing books</a></p>
    </div>
</div>